.blogView{
    /* background-color: aqua; */
    width: 90vw;
    margin: 100px auto;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 97px 10px;
    grid-auto-rows: minmax(100px, auto);

    align-items: center;
    justify-items: center;
    overflow-x: hidden;
}

.blogItem{
    /* background-color: white; */

    margin: 3px; /* For shadow to work */
    width: 405px;
    height: 235px;
    border: 1px solid #bbbbbb;
    border-radius: 2%;
    box-shadow: 2px 2px 5px  lightgray;
}

.blogItemText{
    margin: 0 auto;
    text-align: center;
}
.blogItemText h2{
    font-weight: 500;
}

.blogCoverImg{
    border-bottom:1px solid #bbbbbb;
    object-fit: cover;
    width: 405px;
    height: 185px;
    border-radius: 2% 2% 0 0;
}

.loader{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    pointer-events:none;
}

@media (max-width:1400px) {
    .blogView{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:975px) {
    .blogView{
        grid-template-columns: repeat(1, 1fr);
        width: 90vw;

    }

}
@media (max-width:615px) {
    .blogItem{
        background-color: white;
        width: 254.2px;
        height: 239px;
        border: 1px solid #bbbbbb;
        border-radius: 2%;
    }
    .blogCoverImg{
        width: 254.2px;
        height: 189px;
    } 
    .blogItemText h1{
        font-size: 1.2rem;
    }
}