.blogView{
    /* background-color: aqua; */
    width: 70vw;
    margin: auto;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 97px 10px;
    grid-auto-rows: minmax(100px, auto);

    align-items: center;
    justify-items: center;
    overflow-x: hidden;
}

.blogItem{
    background-color: white;
    width: 424px;
    height: 471px;
    border: 3px solid #bbbbbb;
    border-radius: 2%;
}

.blogItemText{
    margin: 0 auto;
    text-align: center;
    border: 3px solid #bbbbbb;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.blogCoverImg{
    object-fit: cover;
    width: 424px;
    height: 315px;
}

@media (max-width:1250px) {
    .blogView{
        grid-template-columns: repeat(1, 1fr);
        background-color: aqua;
    }

}
@media (max-width:615px) {
    .blogItem{
        background-color: white;
        width: 254.2px;
        height: 282.6px;
        border: 3px solid #bbbbbb;
        border-radius: 2%;
    }
    .blogCoverImg{
        width: 254.2px;
        height: 189px;
    } 
    .blogItemText h1{
        font-size: 1.2rem;
    }
}