.header{
    margin-bottom: 3vw;
}
  
/* header start */

a { 
border:none;
outline:none;
text-decoration:none;
color:inherit;
-webkit-tap-highlight-color: white;
}


#logo{
width: 8vw;
height: auto;
margin: 1vw 47vw;
}

.divider {
width: 70vw;
border-bottom: 1px solid black;
margin-left: 15vw;
}

.topnav{
text-align: center;
}

.topnav li {
display: inline;
padding: 0.7vw;
margin-left: 1vw;
/* background-color: red; */
font-size: 1.15vw;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* header end */
  