.header{
    display: flex;
    align-items: center;
    width: 65vw;
    padding:1rem 0;
    margin: 0 auto ;
    margin-bottom: 2rem;
    border-bottom: 2px solid #3C665F;

}
.header-wrapper{
    width: 100vw;
}
  
/* header start */

a { 
border:none;
outline:none;
text-decoration:none;
color:inherit;
}


.topnav{
    float: right;
    margin-left: auto;
}
.logo{
    float: left;

}

.topnav li {
    color: #3C665F;
    display: inline;
    padding: 0.7rem;
    margin-left: 1vw;
    font-size: 1.15rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* header end */
  