body, html{
  background-color: #FBFBF8;
  max-width: 100%;
  overflow-x: hidden;

}

h1{
  font-size: 2rem;
}

h2{
  font-weight: 100;
  font-size: 1.2rem;
}

a { 
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
  -webkit-tap-highlight-color: white;
}

.header{
  margin-bottom: 3vw;
}

/* header start */

#logo{
  width: 8vw;
  height: auto;
  margin: 1vw 47vw;
}

.divider {
  width: 70vw;
  border-bottom: 1px solid black;
  margin-left: 15vw;
}

.topnav{
  text-align: center;
}

.topnav li {
  display: inline;
  padding: 0.7vw;
  margin-left: 1vw;
  /* background-color: red; */
  font-size: 1.15vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* header end */

.Home-desc{
  position: relative;
  overflow:auto; 
  margin: auto;
  width: 58vw;
}

#myImg{
  width: 20vw;
  height: auto;
  float:left;

}

.myInfo{ 
  float:right;
  width: 36vw;
  margin-top: 9vw;

}


@media (max-width:1295px) {
  .Home-desc{
    width: 70vw;
    margin: auto;
    display: grid;

    grid-template-columns: repeat(1, 1fr);
    gap: 40px 10px;
    grid-auto-rows: minmax(100px, auto);

    align-items: center;
    justify-items: center;
  }
  .myInfo{ 
    float:none;
    height: 200px;
    margin-top: 0;
  
  }

  #myImg{
    float:none;
    justify-content: center;
    width: 218px;
    height: 348px;
  }



}

.loader{
  overflow:auto; 
  margin-left: 25%;
  width: 50%; 
  pointer-events:none;
}


@media (max-width:605px) {
  .myInfo{ 
    height: 270px; 
  }
}
