body, html{
  background-color: #FBFBF8;
  max-width: 100%;
  overflow-x: hidden;

}

h1{
  font-size: 2.4rem;
}

h2{
  font-size: 1.2rem;
}


.Home-desc{
  position: relative;
  overflow:auto; 
  margin: 4rem auto;
  width: 60vw;
  pointer-events: none;

}

#myImg{
  width: 20vw;
  height: auto;
  float:left;

}

.myInfo{ 
  float:right;
  width: 36vw;


}
.myInfo h2{
  font-weight: 200;
  font-size: 1.7rem;
}
.myInfo p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-style: italic; */
  font-size: 1.2rem;
  font-weight: 100;
}

.main{
  position:fixed;
  border-radius: 50%;
  background: rgba(250, 176, 106, 0.226);
  width: 67vw;
  height: 2000%; 
  overflow-y: scroll;
  border-radius: 50.25vw 50.25vw 0 0;
  z-index: 0;
  left: 60vw;
  top: 5vh;
}

@media (max-width:1295px) {
  .Home-desc{
    width: 70vw;
    margin: auto;
    display: grid;

    grid-template-columns: repeat(1, 1fr);
    gap: 40px 10px;
    grid-auto-rows: minmax(100px, auto);

    align-items: center;
    justify-items: center;
  }
  .myInfo{ 
    float:none;
    min-height: 200px;
    overflow: hidden;
    margin-top: 0;
  }

  #myImg{
    float:none;
    justify-content: center;
    width: 218px;
    height: 348px;
  }

}



@media (max-width:795px) {
  .myInfo{ 
    width: 50vw;
  }
}

